<div class="vh-100 container-fluid bg-dark text-white border">

  <div class="container bg-secondary mt-5 border text-center">
    <h1>Postagens</h1>

    <div class="card bg-dark text-white mt-5 mb-5">
      <div class="card-header">
        Tema da postagem
      </div>
      <div class="card-body">
        <h5 class="card-title">Titulo da Postagem</h5>
        <p class="card-text">Descrição da Postagem</p>
        <a href="#" class="btn btn-secondary">Saiba Mais</a>
      </div>
    </div>

  </div>

</div>
